  name: Trigger GitLab Pipeline

  on:
    push:
      branches: [main] 

  jobs:
    trigger:
      runs-on: ubuntu-latest
      steps:
        - name: Trigger GitLab Pipeline
          run: |
            curl -X POST --fail \
              -F "token=${{ secrets.GITLAB_TRIGGER_TOKEN }}" \
              -F "ref=${{ github.ref_name }}" \
              "https://gitlab.cern.ch/api/v4/projects/226436/trigger/pipeline"
